<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>设置头像</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%include header.ejs%>
        <div class="jumbotron">
        </div>
        <div class="container col-lg-6">
        <h1>上传头像</h1>
            <form action="/doSetavatar" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">修改头像</label>
                    <input type="file" class="form-control" id="touxiang" name="touxiang">
                </div>
                <div class="form-group">
                    <input class="form-control" id="shangchuan" type="submit" value="上传">
                </div>
            </form>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
        </script>
</body>

</html>