<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <style>
    img {
        width: 100px;
        height: 100px;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="row col-lg-6">
            <form action="/checklogin" method="get">
                <p>
                    <label for="">用户名</label>
                    <input type="text" name="username"> 
                </p>  <p>
                    <label for="">密码</label>
                    <input type="password" name="password"> 
                </p>
                <p>
                    <input type="submit" value="登录">
                </p>
            </form>
        </div>
    </div>
    <script>
   
    </script>
</body>

</html>