<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<style>
		div{
			width:600px;
			height:400px;
			margin:0 auto;
		}
	</style>
</head>
<body>
<div>
<form action="/check">
	<input type="text" id="name" name="name">
	<input type="submit" value="进入聊天室">
	</form>
</div>

	
</body>
</html>