<!DOCTYPE html >
	<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
</head>
<body>
<form action="#" method="post">
		<p>
			姓名： <input type="text" name="name">
		</p>
		<p>
			age: <input type="text" name="age">
		</p><p>
			性别: <input type="text" name="gender">
		</p>
		<p>
			<input type="checkbox" name="hobby" value="睡觉">睡觉
			<input type="checkbox" name="hobby" value="吃饭">吃饭
		</p>
		<input type="submit">
	
</form>
	
</body>
</html>